appdirs==1.4.4
audioread==2.1.9
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
decorator==5.0.9
docopt==0.6.2
filelock==3.0.12
Flask==2.0.1
huggingface-hub==0.0.12
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
librosa==0.8.1
llvmlite==0.36.0
MarkupSafe==2.0.1
numba==0.53.1
numpy==1.21.1
packaging==21.0
pooch==1.4.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
resampy==0.2.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sounddevice==0.4.2
SoundFile==0.10.3.post1
threadpoolctl==2.2.0
tokenizers==0.10.3
--find-links "https://download.pytorch.org/whl/lts/1.8/torch_lts.html"
torch==1.8.1+cpu
tqdm==4.61.2
transformers==4.8.2
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
yarg==0.1.9

